.mini-gallery {
	padding: 0 8px;
	margin-top: 15px;
}
.mini-gallery > .row > div {
	padding: 0;
}
.mini-gallery a {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}
.mini-gallery a img {
	min-width: 100%;
	padding: 5px;
	border-radius: 15px;
}