.emploeers-leaders-title {
	margin-top: 15px;
}
.emploeers-leaders-slider {
	max-width: 100%;
	margin: 15px auto 30px;	
}
.emploeers-leaders-slider__item {
    padding: 0;
    text-align: center;
    margin: 1px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.emploeers-leaders-slider__item img {
	border-radius: 50%;
	max-width: 250px;
}
.emploeers-leaders-slider__item h3 {
    margin: 8px 0 8px 0;
    font-family: Akrobat;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0; 
}
.emploeers-leaders-slider__item .position {
	color: #666;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 300px;
    height: 47px;
    display: flex;
    align-items: center;
}
.emploeers-leaders-slider .owl-dots {
	display: none;
}

.emploeers-leaders-slider .owl-nav {
	display: block;
}

.emploeers-leaders-slider .owl-prev,
.emploeers-leaders-slider .owl-next {
	font-size: 50px !important;
    color: #008ed5 !important;
    font-weight: 300 !important;
    position: absolute;
    top: calc(50% - 30px);
    outline: none;
    transition: .15s;
}
.emploeers-leaders-slider .owl-prev span,
.emploeers-leaders-slider .owl-next span {
	transition: .15s;
	background: #fff;
    height: 50px;
    width: 50px;
    display: block;
	line-height: 0.87;
    font-size: 46px;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2), inset 0 0 0 1px rgba(0,0,0,0.1);
    color: #475560;
}

.emploeers-leaders-slider .owl-next span {
	padding-left: 3px;
}

.emploeers-leaders-slider .owl-prev:hover span,
.emploeers-leaders-slider .owl-next:hover span {
	color: #fff;
	background: #EE3831;
}
.emploeers-leaders-slider .owl-prev:active span,
.emploeers-leaders-slider .owl-next:active span {
	background: #de5353;
}

.emploeers-leaders-slider .owl-prev {
	left: 0px;
	opacity: 0;
}
.emploeers-leaders-slider .owl-next {
    right: 0px;
    opacity: 0;
}

.emploeers-leaders-slider:hover .owl-prev {
	left: 10px;
	opacity: 1;
}
.emploeers-leaders-slider:hover .owl-next {
    right: 10px;
    opacity: 1;
}

@media (max-width: 991px) {
	.emploeers-leaders-slider .owl-prev {
		left: -30px;
		opacity: 1;
		top: calc(50% - 20px);
	}
	.emploeers-leaders-slider .owl-next {
	    right: -30px;
	    opacity: 1;
	    top: calc(50% - 20px);
	}
	.emploeers-leaders-slider .owl-prev span,
	.emploeers-leaders-slider .owl-next span {
	    background: none;
	    box-shadow: none;
	    color: #999;
	    width: 30px;
	}
	.emploeers-leaders-slider .owl-prev:hover span,
	.emploeers-leaders-slider .owl-next:hover span {
		color: #999;
		background: none;
	}
	.emploeers-leaders-slider .owl-prev:active span,
	.emploeers-leaders-slider .owl-next:active span {
		background: none;
	}
}

