.main-popular-products-head {
    color: #EE3831;
    padding: 30px 0 15зч;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0 15px;
    margin-left: 15px;
    clear: both; 
}
.main-popular-products {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    /*padding: 0 0 0 15px;*/
    padding: 0;
}
.main-popular-products > .row {
	--bs-gutter-x: 0;
}

.main-popular-products .product-block {
	padding: 15px;
	border: 1px #eee solid;
}

.main-popular-products .product-block .product-name {
	margin-top: 10px;
}

.main-popular-products .product-block .product-name a {
	color: #333;
    font-size: 16px;
    height: 70px;
    overflow: hidden;
    margin-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    height: 70px;
}

.main-popular-products .product-block .product-name a:hover {
	color: #d43535;
}
.main-popular-products .product-block .product-name a:active {
    color: #9c2020;
}


.main-popular-products .product-block .product-image {
    width: 160px;
    height: 210px;
    text-align: center;
    margin: auto;
	display: flex;
    align-items: center;
    justify-content: center;
}
.main-popular-products .product-block .product-image img {
	max-height: 270px;
}
.main-popular-products .product-block .product-price {
	font-size: 20px;
	font-weight: 600;
	margin-top: 15px;
}
.main-popular-products .product-block .product-price i {
    color: #afafaf;
    font-size: 16px;
    margin-left: 5px;
}
.main-popular-products .owl-prev,
.main-popular-products .owl-next {
	font-size: 50px !important;
    color: #008ed5 !important;
    font-weight: 300 !important;
    position: absolute;
    top: calc(50% - 30px);
    outline: none;
    transition: .15s;
}
.main-popular-products .owl-prev span,
.main-popular-products .owl-next span {
	transition: .15s;
	background: #fff;
    height: 50px;
    width: 50px;
    display: block;
	line-height: 0.87;
    font-size: 45px;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2), inset 0 0 0 1px rgba(0,0,0,0.1);
}

.main-popular-products .owl-next span {
	padding-left: 3px;
}

.main-popular-products .owl-prev:hover span,
.main-popular-products .owl-next:hover span {
	color: #fff;
	background: #ff5f5f;
}
.main-popular-products .owl-prev:active span,
.main-popular-products .owl-next:active span {
	background: #de5353;
}

.main-popular-products .owl-prev {
	left: 0px;
	opacity: 0;
}
.main-popular-products .owl-next {
    right: 0px;
    opacity: 0;
}

.main-popular-products:hover .owl-prev {
	left: 10px;
	opacity: 1;
}
.main-popular-products:hover .owl-next {
    right: 10px;
    opacity: 1;
}

@media (max-width: 991px) {
	.main-popular-products {
		padding: 0;
	}
	.main-popular-products-head {
		margin-left: 0;
		padding: 15px 0;
	}
	.main-popular-products .owl-prev {
		left: 0px !important;
		opacity: 1;
	}
	.main-popular-products .owl-next {
	    right: 0px !important;
	    opacity: 1;
	}
	.main-popular-products .owl-prev span,
	.main-popular-products .owl-next span {
	    background: none;
	    box-shadow: none;
	    color: #999;
	    width: 30px;
	}
	.main-popular-products .owl-prev:hover span,
	.main-popular-products .owl-next:hover span {
		color: #999;
		background: none;
	}
	.main-popular-products .owl-prev:active span,
	.main-popular-products .owl-next:active span {
		background: none;
	}
	.main-popular-products .product-block .product-image {
		width: 120px;
		height: 160px;
	}
	.main-popular-products .owl-dots {
		display: none;
	}
}




















